$color-primary: black;
$color-bg: #EDF0F2;
$color-bg-d5: darken($color-bg, 5%);
$color-bg-d10: darken($color-bg, 10%);
$color-bg-d30: darken($color-bg, 30%);
$color-bg-d60: darken($color-bg, 60%);
$br: 6px;
$br-lg: 10px;
$br-rounded: 50%;