footer
    .wrapper
        .copyright
            include logo-footer
        .legal
            label legal
            ul.nav-footer
                li
                    a(href='imprint.html') Imprint
                li
                    a(href='privacy.html') Privacy
                li
                    a(href='terms.html') Terms &amp; Conditions
                li.copy &copy; 2020 TheBasic
        .socialmedia
            label Media
            ul.nav-footer
                li Instagram &nbsp; &nearr;
                li Pinterest &nbsp; &nearr;
                li Behance &nbsp; &nearr;
        .course
            label course
            ul.nav-footer
                li
                    a(href='https://spaces.kisd.de/htmlwise2020/2020/11/11/log-of-robert-halbach/' target='_blank' rel='noopener') Download Source&nbsp;&nearr;
                li
                    a(href='https://spaces.kisd.de/htmlwise2020/2020/11/11/log-of-robert-halbach/' target='_blank' rel='noopener') Blogpost&nbsp;&nearr;
