include ../mixins/mixins
doctype doctype
html(lang='en')
    head
        - const siteTopic = { name:'OD-11' }
        +meta(siteTopic)
    body#main.product.od-11.teenageengineering.red
        .noise
        .wrapper
            include ../includes/nav
            #content
                .grid
                    .grid-item.grid-item-1.prod 
                    // Image goes here
                    .grid-item.grid-item-2.desc
                        h1
                            span.company Teenage engineering
                            span.product-name OD-11
                        p. 
                            OD-11 the wireless stereo loudspeaker,
                            made to play all your music, from any device, in wireless stereo.
                            The unmistakably warm and relaxed carlsson sound has returned.
                            Now in red, black, blue, yellow, walnut and white.
                        .color-selection
                            button.selector#red Red
                            button.selector#black Black
                            button.selector#blue Blue
                            button.selector#yellow Yellow
                            button.selector#walnut Walnut
                            button.selector#white White
                        span.price 999 EUR

        include ../includes/footer
        include ../includes/footerscripts